.intro h1 {
    margin-bottom: 0.5em;
}

.calc {
    width: 400px;
    background-color: #000;
    margin: 0 auto;
}

.screen {
    text-align: right;
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5em 0.2em;
}

.calc-btn-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-btn {
    border: none;
    background: #d8d9db;
    font-size: 2.5rem;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-btn:hover {
    background-color: #ebebeb;
}

.calc-btn:active {
    background-color: #bbbcbe;
}

.calc-btn:last-child {
    background-color: #df974c;
    color: #fff;
}

.calc-btn:last-child:hover {
    background-color: #dfb07e;
}

.calc-btn:last-child:active {
    background-color: #dd8d37;
}

.double {
    flex-basis: 49.7%;
}

.triple {
    flex-basis: 74.8%
}